{% extends "base.html" %}
{% block title %}Medicines{% endblock %}

{% block content %}
<section class="hero">
    <h1>Explore Our Medicines</h1>
    <p class="subtitle">Medicines Present in Our Database.</p>
</section>

<div class="container">
    {% if grouped_medicines %}
        {% for age_group, meds in grouped_medicines.items() %}
            <h2 class="category-header">{{ age_group | capitalize }} Medicines</h2>
            <div class="medicine-grid-2-col">
                {% for med in meds %}
                    <div class="medicine-list-card">
                        <h3>{{ med['name'] }}</h3>
                        <div class="medicine-details-grid">
                            <span class="detail-label">Description</span>
                            <span class="detail-value">{{ med['description'] }}</span>
                            <span class="detail-label" style="margin-top: 10px;">Reason for Use</span>
                            <span class="detail-value">{{ med['reason'] }}</span>
                        </div>
                        <div style="margin-top: 15px;">
                            <span class="tag-label">{{ med['age_group'] }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <p>No medicines to display.</p>
    {% endif %}
</div>
{% endblock %}